.nav {
    --nav-bg: var(--page-elem-bg);
    --nav-radius: var(--button-radius)
}

.nav {
    display: flex;
    padding: 0 0 calc(2 * var(--page-pad)) 0;
}
.nav--quick {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
@media (orientation: landscape) {
    .nav--quick {
        flex-flow: column nowrap;
    }
}

.nav--main {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    position: relative;
    margin: calc(2 * var(--page-pad));
    margin-bottom: calc(7 * var(--page-pad) + var(--icon-size));
    padding: calc(2 * var(--page-pad));
    background-color: var(--nav-bg);
    border-radius: var(--nav-radius);
}
@media (orientation: landscape) {
    .nav--main {
        margin: calc(2 * var(--page-pad));
        margin-right: calc(4 * var(--page-pad) + var(--icon-size));
    }
}

.nav__item--landscape-hidden {
    display: block;
}

@media (orientation: landscape) {
    .nav__item--landscape-hidden {
        display: none;
    }
}

.nav__item--nav-title {
    width: 100%;
    padding: calc(3 * var(--page-pad)) 0 0 0;
    text-align: center;
}
 