.nav {
  --nav-text-size: var(--page-button-title-text-size);
  --nav-text-color: var(--text-color);
  --nav-bg: var(--page-elem-bg);
}

.nav {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav__header {
  width: 100%;
  padding: calc(2 * var(--nav-text-size)) 0 0 0;
  text-align: center;
  font-size: var(--nav-text-size);
  font-weight: 400;
  color: var(--nav-text-color);
}

.nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-end;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--nav-bg);
}
 