.control {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-end;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: var(--page-pad) var(--page-pad) calc(6 * var(--page-pad) + var(--icon-size)) var(--page-pad);
}
@media (orientation: landscape) {
    .control {
        padding: var(--page-pad) calc(6 * var(--page-pad) + var(--icon-size)) var(--page-pad) var(--page-pad);
    }
}

.control__curtain {
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
    opacity: 0;
    transform: scale3d(0, 0, 0);
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, transform 0s linear 0.4s;
}
.control--button-select>.control__curtain {
    opacity: 0.8;
    transform: scale3d(1, 1, 1);
    transition: opacity 0.3s linear 0.1s, transform 0s linear 0s;
}

.control__item {
    z-index: 100;
    position: relative;
}
.control__item--select.control__item {
    z-index: 200;
}