.control {
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}
.control--left {
    transform: translate3d(-100%, 0, 0);
}
.control--right {
    transform: translate3d(100%, 0, 0);
}

.control__list {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-end;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: var(--page-pad) var(--page-pad) calc(3 * var(--page-pad) + var(--icon-size)) var(--page-pad);
}
@media (orientation: landscape) {
    .control__list {
        padding: var(--page-pad) calc(3 * var(--page-pad) + var(--icon-size)) var(--page-pad) var(--page-pad);
    }
}

.control__item {
    position: relative;
}