.control {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-end;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: var(--page-pad) var(--page-pad) calc(6 * var(--page-pad) + var(--icon-size)) var(--page-pad);
}
@media (orientation: landscape) {
    .control {
        padding: var(--page-pad) calc(6 * var(--page-pad) + var(--icon-size)) var(--page-pad) var(--page-pad);
    }
}

.control__item {
    z-index: 100;
    position: relative;
}