.button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    
}

.button__icon {
    display: block;
    position: relative;
    margin: var(--page-pad);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke: var(--icon-color);
    fill: none;
    transform-origin: 50% 50%;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform;
}

.button__icon>path {
    transform-origin: 12px 12px;
    transition: transform 0.2s ease 0s;
}
.button--nav-show>.button__icon>path {
    transform: rotate3d(0, 0, 1, 0);
}
.page--nav-show .button--nav-show>.button__icon>path {
    transform: rotate3d(0, 0, 1, 180deg);
}
@media (orientation: landscape) {
    .button--nav-show>.button__icon>path {
        transform: rotate3d(0, 0, 1, 270deg);
    }
    .page--nav-show .button--nav-show>.button__icon>path {
        transform: rotate3d(0, 0, 1, 90deg);
    } 
}

.button--control-switch>.button__icon {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-color: var(--button-bg-color);
}
.button--control-slide>.button__icon {
    width: calc(2 * (var(--button-size) + var(--page-pad)));
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-color: var(--button-bg-color);
}
.button--nav-switch>.button__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    /* background-color: var(--icon-bg-color); */
}

.button--press>.button__icon {
    transform: scale3d(1.1, 1.1, 1);
}
.button--select>.button__icon {
    z-index: 999;
    transform: scale3d(1.7, 1.7, 1) translate3d(var(--icon-dx-move), var(--icon-dy-move), 0);
}

.button__title {
    display: block;
    position: relative;
    padding: 0 0 var(--page-pad) 0;
    font-size: var(--font-size);
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    color: var(--font-color);
    transition: opacity 0.2s ease-in 0s;
}
.button--nav-show .button__title {
    opacity: 0;
}
.page--nav-show .button--nav-show .button__title {
    opacity: 1;
    transition: opacity 0.2s ease-in 0.1s;
}
