.page { 
    /* set color element */
    --page-bg: #353535;

    --nav-bg: rgba(32, 33, 36, 1);

    --font-color: #fff;
    --font-selected-color: #fff;
    --font-focus-color: #fff;
    --font-disable-color: #fff;

    --button-bg-color: #202124;
    --button-selected-bg-color: #dadada;
    --button-focus-bg-color: #fff;
    --button-disable-bg-color: #fff;

    --icon-color: #dadada;
    --icon-selected-color: #dadada;
    --icon-focus-color: #dadada;
    --icon-disable-color: #dadada;

    --icon-bg-color: #424242;
    --icon-selected-bg-color: #424242;
    --icon-focus-bg-color: #424242;
    --icon-disable-bg-color: #424242;
    
    /* set size element */
    /* property:
    --page-max-size
    --page-min-size
    set in page.js */
    --page-max-size: 100vmax;
    --page-min-size: 100vmin;

    --button-qnt-in-control: 4;
    --button-qnt-in-nav: 5;
    
    /* calculate size element */
    --dist-between-el: calc(var(--page-min-size) * (var(--button-qnt-in-nav) - var(--button-qnt-in-control)) / (2 * var(--button-qnt-in-nav) * var(--button-qnt-in-control) + var(--button-qnt-in-nav) - 3 * var(--button-qnt-in-control)));

    --page-pad: calc(var(--dist-between-el) / 2);
    
    --button-size: calc((var(--page-min-size) - var(--dist-between-el) * (var(--button-qnt-in-control) + 1)) / var(--button-qnt-in-control));
    --button-radius: calc(var(--button-size) / 4);

    --icon-size: calc(var(--page-min-size) / var(--button-qnt-in-nav) - 2 * var(--page-pad));

    --font-size: calc(var(--button-size) / 6);
    
    /* property:
    --page-nav-min-size
    set in page.js */
    --page-nav-min-size: calc(100% - 2 * var(--page-pad) - var(--icon-size));
    --page-nav-show-pos: calc(0px - var(--page-min-size));
}

.page {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page__debug {
    z-index: 9999;
    display: block;
    position: fixed;
    left: 150px;
    top: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
    color: black;
    font-size: 15px;
}

.page__curtain {
    z-index: 5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
    opacity: 0;
    transform: scale3d(0, 0, 0);
    transition: opacity 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, transform 0s linear 0.5s;
}
.page--nav-show>.page__curtain {
    z-index: 200;
    background-color: var(--nav-bg);
    opacity: 0.8;
    transform: scale3d(1, 1, 1);
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s, transform 0s linear 0s;
}
.page--button-select>.page__curtain {
    opacity: 0.9;
    transform: scale3d(1, 1, 1);
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.1s, transform 0s linear 0s;
}

.page__control {
    z-index: 50;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* @supports (-webkit-overflow-scrolling: touch) {
    .page__control {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
.page--nav-show>.page__control {
    filter: blur(18px);
} */

.page__header {
    z-index: 400;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    background-color: var(--nav-bg);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: translate3d(0, calc(0px - 4 * var(--page-pad) - var(--icon-size)), 0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform;
}
.page--nav-show>.page__header {
    transform: translate3d(0, 0, 0);
}
@media (orientation: landscape) {
    .page__header {
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;
        transform: translate3d(calc(0px - 4 * var(--page-pad) - var(--icon-size)), 0, 0);
    }
}

.page__nav {
    z-index: 500;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: var(--page-nav-min-size);
    max-height: 100%;
    background-color: var(--nav-bg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate3d(var(--page-nav-show-pos), 0, 0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform;
}
.page--nav-show>.page__nav {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s;
}
@media (orientation: landscape) {
    .page__nav {
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        max-width: 100%;
        max-height: var(--page-nav-min-size);
        transform: translate3d(0, var(--page-nav-show-pos), 0);
    }
}

.page__footer {
    z-index: 300;
    overflow: hidden;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--nav-bg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media (orientation: landscape) {
    .page__footer {
        top: 0;
        bottom: 0;
        right: 0;
        left: auto;
    }
}
