<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- no scalable view -->
        <meta name="viewport" content="user-scalable=no, width=device-width">
        <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
        <!-- full screen view as app -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- no cache -->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <!-- favicon-->
        <link rel="icon" type="image/png" href="favicon/icon/32x32.png">
        <!-- favicon mac-->
        <link rel="mask-icon" href="favicon/icon/logo_r10.svg">
        <!-- favicon ios-->
        <link rel="apple-touch-icon" sizes="192x192" href="favicon/icon/192x192.png">
        <link rel="icon" type="image/png" href="favicon/icon/192x192.png">
        <meta name = "apple-mobile-web-app-title" content = "Smart home">
        <meta name="apple-mobile-web-app-status-bar-style">
        <!-- favicon android-->
        <link rel="manifest" href="manifest.json">
        <meta name="theme-color" content="#2e2e2e">
        <!-- title-->
        <title>Smart home</title>
        <link rel="stylesheet" type="text/css" href="css/common.blocks/page.css">
    </head>
    <body class="page">

        <link rel="stylesheet" type="text/css" href="css/main.css">

        <header class="page__header"></header>
        <section class="page__control">
            <ul class="control">
                <li class="control__item">
                    <div class="button button--slide">
                        <svg class="button__img" viewBox="-6 -6 36 36"><path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6C7.8 12.16 7 10.63 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"/></svg>    
                    </div>
                    <span class="label">Bedroom</span>
                </li>
                <li class="control__item">
                    <div class="button button--slide"></div>
                    <span class="label">Children's</span>
                </li>
                <li class="control__item">
                    <div class="button button--slide"></div>
                    <span class="label">Kitchen</span>
                </li>
                <li class="control__item">
                    <div class="button button--switch"></div>
                    <span class="label">Wardrobe</span>
                </li>
                <li class="control__item">
                    <div class="button button--slide"></div>
                    <span class="label">Bathroom</span>
                </li>
                <li class="control__item">
                    <div class="button button--switch button--active"></div>
                    <span class="label">Toilet</span>
                </li>
                <li class="control__item">
                    <div class="button button--switch"></div>
                    <span class="label">Balcony</span>
                </li>
                <li class="control__item">
                    <div class="button button--slide"></div>
                    <span class="label">Hall</span>
                </li>
            </ul>
        </section>
        <footer class="page__footer">
            <ul class="nav">
                <li class="nav__item active">
                    <svg class="nav__img" viewBox="0 0 24 24"><path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6C7.8 12.16 7 10.63 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"/></svg>
                    <div class="nav__text">Light</div>
                </li>
                <li class="nav__item offset">
                    <svg class="nav__img" viewBox="0 0 24 24"><path d="M16.01 7L16 3h-2v4h-4V3H8v4h-.01C7 6.99 6 7.99 6 8.99v5.49L9.5 18v3h5v-3l3.5-3.51v-5.5c0-1-1-2-1.99-1.99z"/></svg>
                    <div class="nav__text">Electric</div>
                </li>
                <li class="nav__item offset">
                    <svg class="nav__img" viewBox="0 0 24 24"><path d="M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31C7.9 20.8 9.95 21.58 12 21.58c2.05 0 4.1-.78 5.66-2.34 3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z" /></svg>
                    <div class="nav__text">Leak</div>
                </li>
                <li class="nav__item offset">
                    <svg class="nav__img" viewBox="0 0 24 24"><path d="M2.5 20A1.5 1.5 0 0 0 4 21.5h1.5A1.5 1.5 0 0 0 7 20v-1h2.5v1A1.5 1.5 0 0 0 11 21.5h1.5A1.5 1.5 0 0 0 14 20v-1h2.5v1A1.5 1.5 0 0 0 18 21.5h1.5A1.5 1.5 0 0 0 21 20v-1h1v-2h-1v-10h1v-2h-1v-1A1.5 1.5 0 0 0 19.5 2.5h-1.5A1.5 1.5 0 0 0 16.5 4v1h-2.5v-1A1.5 1.5 0 0 0 12.5 2.5L11 2.5A1.5 1.5 0 0 0 9.5 4v1h-2.5v-1A1.5 1.5 0 0 0 5.5 2.5h-1.5A1.5 1.5 0 0 0 2.5 4zM7 17v-10h2.5v10zM14 17v-10h2.5v10z"/></svg>
                    <div class="nav__text">Heater</div>
                </li>
                <li class="nav__item offset">
                    <svg class="nav__img" viewBox="0 0 24 24"><path d="M22 18v-2H8V4h2L7 1 4 4h2v2H2v2h4v8c0 1.1.9 2 2 2h8v2h-2l3 3 3-3h-2v-2h4zM10 8h6v6h2V8c0-1.1-.9-2-2-2h-6v2z"/></svg>
                    <div class="nav__text">Sciene</div>
                </li>
                <li class="nav__item offset">
                    <svg class="nav__img" viewBox="0 0 24 24"><path d="M2.5 20A1.5 1.5 0 0 0 4.5 21.4L12 17.8L19.5 21.4A1.5 1.5 0 0 0 21.5 20v-8.5A1.5 1.5 0 0 0 19.5 10.1L13.5 13v-3A4 4 0 1 0 10.5 10v3L4.5 10.1A1.5 1.5 0 0 0 2.5 11.5zM5 18.9A 0.4 0.4 0 0 1 4.5 18.5L4.5 13A0.4 0.4 0 0 1 5 12.6L12 15.5z"/></svg>
                    <div class="nav__text">Setup</div>
                </li>
                <li class="nav__item offset"></li>
            </ul>
        </footer>
    </body>
</html>