.button {
    --button-select-move-dx: 0px;
    --button-select-move-dy: 0px;
}

.button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    stroke: var(--icon-color);
    color: var(--font-color);
    transform-origin: 0 0;
}
@media (orientation: landscape) {
    .button--landscape-hidden{
        display: none;
    }
}

.button--control {
    z-index: 100;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform;
}

/* icon */
.button__icon {
    z-index: 340;
    display: block;
    position: relative;
    margin: var(--page-pad);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke: inherit;
    fill: none;
    transform-origin: 50% 50%;
    transform: scale3d(1, 1, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, stroke 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform, stroke;
}

.button--control.button--switch>.button__icon {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-color: var(--button-bg-color);
}
.button--control.button--slide>.button__icon {
    width: calc(2 * (var(--button-size) + var(--page-pad)));
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-color: var(--button-bg-color);
}

.button--nav>.button__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    /* background-color: var(--icon-bg-color); */
}

/* title */
.button__title {
    z-index: 350;
    display: block;
    position: relative;
    padding: 0 0 var(--page-pad) 0;
    font-size: var(--font-size);
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    color: inherit;
    transition: opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}
.button--nav>.button__title {
    margin: calc(0px - var(--icon-size) / 6) 0 0 0;
}

/* event */
.button--press.button--control>.button__icon {
    transform: scale3d(1.1, 1.1, 1);
}
.button--press.button--nav>.button__icon {

}

.button--select.button--control {
    z-index: 140;
    transform: scale3d(1.7, 1.7, 1) translate3d(var(--button-select-move-dx), var(--button-select-move-dy), 0);
}

.button--active.button--control {
    stroke: red;
}
.button--active.button--nav {
    stroke: red;
    color: red;
}

