.button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform;
}
.button.button--select {
    transform: scale3d(1.7, 1.7, 1) translate3d(50px, 50px, 0);
}
.button::after {
    content: '';
    position: fixed;
    width: var(--page-max-size);
    height: var(--page-max-size);
    background-color: var(--page-bg);
    opacity: 0;
    transform: scale3d(0, 0, 1);
    transition: opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s,transform 0s linear 0.4s;
}
.button--select.button::after {
    z-index: 330;
    opacity: 0.9;
    transform: scale3d(1, 1, 1);
    transition: opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0.1s, transform 0s linear 0s;
}

.button__icon {
    z-index: 340;
    display: block;
    position: relative;
    margin: var(--page-pad);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke: var(--icon-color);
    fill: none;
    transform-origin: 50% 50%;
    transform: scale3d(1, 1, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform;
}

.button--control-switch>.button__icon {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-color: var(--button-bg-color);
}
.button--control-slide>.button__icon {
    width: calc(2 * (var(--button-size) + var(--page-pad)));
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-color: var(--button-bg-color);
}
.button--nav-switch>.button__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    /* background-color: var(--icon-bg-color); */
}

.button--press>.button__icon {
    transform: scale3d(1.1, 1.1, 1);
}

.button__title {
    z-index: 350;
    display: block;
    position: relative;
    padding: 0 0 var(--page-pad) 0;
    font-size: var(--font-size);
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    color: var(--font-color);
    transition: opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}
.button--nav-switch>.button__title {
    margin: calc(0px - var(--icon-size) / 6) 0 0 0;
}

