.button {
    /* variables from page style */
    --button-pad: var(--page-pad);

    /* variables to modify with js */
    --button-bg-color: #202124;
    --button-slide-bg-color: #dadada;
    --button-icon-color: #dadada;
    --button-text-color: #dadada;

    --button-select-move-dx: 0px;
    --button-select-move-dy: 0px;

    --button-slide-bg-pos-x: 0px;
    --button-slide-bg-pos-duration-animation: 0s;
}

.button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    stroke: var(--button-icon-color);
    color: var(--button-text-color);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform opacity;
}
@media (orientation: landscape) {
    .button--landscape-hidden{
        display: none;
    }
}

.button--control {
    z-index: 100;
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* icon */
.button__icon {
    z-index: 340;
    display: block;
    position: relative;
    margin: var(--button-pad);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke: inherit;
    fill: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, stroke 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-position var(--button-slide-bg-pos-duration-animation) cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-color 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, stroke 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-position var(--button-slide-bg-pos-duration-animation) cubic-bezier(0.4, 0.0, 0.2, 1) 0s, background-color 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform, stroke, background-position, background-color;
}

.button--control.button--switch>.button__icon {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-color: var(--button-bg-color);
}
.button--control.button--slide>.button__icon {
    width: calc(2 * (var(--button-size) + var(--button-pad)));
    height: var(--button-size);
    border-radius: var(--button-radius);
    background-size: 480px; 
    background-image: linear-gradient(to left, var(--button-slide-bg-color) 0, var(--button-slide-bg-color) 50%, var(--button-bg-color) 50%, var(--button-bg-color) 100%);
    background-position-x: var(--button-slide-bg-pos-x);
}

.button--nav>.button__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-size);
    /* background-color: var(--icon-bg-color); */
}

/* title */
.button__title {
    z-index: 350;
    display: block;
    position: relative;
    padding: 0 0 var(--button-pad) 0;
    font-size: var(--font-size);
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    color: inherit;
    -webkit-transition: opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}
.button--nav>.button__title {
    margin: calc(0px - var(--icon-size) / 6) 0 0 0;
}

/* event */
.button--disable {
    opacity: 0.5;
}

.button--press.button--control>.button__icon {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.button--select.button--control {
    z-index: 140;
    -webkit-transform: scale3d(1.7, 1.7, 1) translate3d(var(--button-select-move-dx), var(--button-select-move-dy), 0);
    transform: scale3d(1.7, 1.7, 1) translate3d(var(--button-select-move-dx), var(--button-select-move-dy), 0);
}
.button--select>.button__title {
    opacity: 0;
}

.button--active.button--control {
    stroke: red;
}
.button--active.button--nav {
    stroke: red;
    color: red;
}

