.control {
    z-index: 50;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-end;
    position: relative;
    min-height: 100%;
    padding: var(--page-pad) var(--page-pad) var(--page-nav-hide-pos) var(--page-pad);
}
@media screen and (orientation: landscape){
    .control {
        justify-content: flex-end;
        align-content: space-evenly;
        padding: var(--page-pad) var(--page-nav-hide-pos) var(--page-pad) var(--page-pad);
    }
}

.control__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}