.nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 250;
    position: relative;
    margin: var(--page-pad);
    padding: var(--page-pad);
    border-radius: var(--button-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--button-bg);
}

.nav__list {
    display: grid;
    align-items: flex-start;
    position: relative;
}
.nav__list--quick {
    grid-template-columns: repeat(var(--button-number-in-quick-nav-row), 1fr);
}
.nav__list--main {
    grid-template-columns: repeat(var(--button-number-in-main-nav-row), 1fr);
    padding: 0 calc((100vmin - 6 * var(--page-pad) - 4 * var(--icon-size)) / 10 - var(--page-pad));
    padding-bottom: calc(3 * var(--page-pad));
}

.nav__item {
    opacity: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    transition: opacity 0.3s ease-in 0.1s;
}
.page--nav-show .nav__item--hide-when-nav-show {
    opacity: 0;
    transition: opacity 0.3s ease-out 0s;
}

.nav__item--title {
    grid-column: 1 / 5;
    display: grid;
    text-align: center;
    padding: calc(3 * var(--page-pad)) 0 0 0;
}
.nav__list--quick .nav__item--title {
    grid-template-columns: repeat(var(--button-number-in-quick-nav-row), 1fr);
}
.nav__list--main .nav__item--title {
    grid-template-columns: repeat(var(--button-number-in-main-nav-row), 1fr);
}
