.page { 
    /* set color element */
    --page-bg: #3e3e3e;
    --page-blur: calc(var(--page-pad) * 4);

    --font-color: #fff;

    --button-bg: #202124;
    --button-active-bg: #dadada;

    --icon-bg: #424242;
    --icon-color: #dadada;
    --icon-active-fill: #fff;

    /* set size element */
    /* property:
    --page-max-size
    --page-min-size
    set in page.js */
    --page-max-size: 100vmax;
    --page-min-size: 100vmin;

    --button-number-in-control-row: 4;
    --button-number-in-quick-nav-row: 5;
    --button-number-in-main-nav-row: 4;
    --button-number-in-main-nav-col: 6;
    --label-number-in-main-nav-col: 2;

    --dist-between-el: calc(var(--page-min-size) * (var(--button-number-in-quick-nav-row) - var(--button-number-in-control-row)) / (2 * var(--button-number-in-quick-nav-row) * var(--button-number-in-control-row) + var(--button-number-in-quick-nav-row) - 3 * var(--button-number-in-control-row)));

    --page-pad: calc(var(--dist-between-el) / 2);
    
    --button-size: calc((var(--page-min-size) - var(--dist-between-el) * (var(--button-number-in-control-row) + 1)) / var(--button-number-in-control-row));
    --button-radius: calc(var(--button-size) / 4);

    --icon-size: calc((var(--page-min-size) - var(--dist-between-el) * (var(--button-number-in-quick-nav-row) + 3)) / var(--button-number-in-quick-nav-row));

    --font-size: calc(var(--button-size) / 6);
    
    --page-nav-hide-pos: calc(var(--icon-size) + 6 * var(--page-pad));
    --page-nav-button-hide-pos: calc((var(--page-min-size) - 4 * var(--page-pad) - 4 * var(--icon-size)) / 5 - 2 * var(--page-pad));
    --page-nav-filter-pad-t-temp1: calc(var(--page-min-size) - var(--button-number-in-main-nav-row) * (var(--page-pad) + var(--icon-size)));
    --page-nav-filter-pad-t: calc(var(--page-nav-filter-pad-t-temp1) / var(--button-number-in-quick-nav-row) - 2 * var(--page-pad));

    /* property:
    --page-nav-show-pos
    set in page.js */
    --page-nav-show-pos: var(--page-max-size);
    --page-nav-main-max-height: calc(var(--page-max-size) - 6 * var(--page-pad) - var(--page-nav-filter-pad-t) - var(--icon-size) - var(--font-size));
}

 .page {
    z-index: 10;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
}

.page__trap {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.page--nav-show>.page__trap {
    z-index: 200;
}
.page--control-item-show>.page__trap {
    z-index: 500;
}

.page__control {
    z-index: 50;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    transition: filter 0.3s ease-in 0s;
    will-change: filter;
}
@supports (-webkit-overflow-scrolling: touch) {
    .page__control {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
/* comment becouse bug blur() animation  */
/* .page--nav-show>.page__control {
    filter: blur(var(--page-blur));
} */

.page__nav {
    z-index: 300;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: var(--page-pad);
    filter: blur(0);
    transform: translate3d(0, calc(0px - var(--page-nav-hide-pos)), 0);
    transition: filter 0.3s ease-in 0s, transform 0.3s ease-in 0s;
    will-change: filter, transform;
}
.page--nav-show>.page__nav {
    transform: translate3d(0, calc(0px - var(--page-nav-show-pos)), 0);
}
/* comment becouse bug blur() animation  */
/* .page--control-item-show>.page__nav {
    filter: blur(var(--page-blur));
} */

/* .page__footer {
    z-index: 150;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--button-size) + 3 * var(--page-pad));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, var(--page-bg) calc(4 * var(--page-pad)));
    backdrop-filter: blur(var(--page-blur));
}
@media screen and (max-width: 430px) and (orientation: portrait) {
    .page__footer {
        display: block;
    }
} */
