@import "button--control.css";
@import "button--nav.css";

.button {
    /* variables from page style */
    --button-pad: var(--page-pad);
    --button-text-size: var(--font-size);
    --button-normal-color: #dadada;

    /* variables to modify with js */
    --button-active-color: #dadada;
}

.button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    align-items: center;
    stroke: var(--button-normal-color);
    color: var(--button-normal-color);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s, opacity 0.225s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    will-change: transform, opacity;
}
.button--active {
    stroke: var(--button-active-color);
}

/* icon */
.button__icon {
    z-index: 340;
    display: block;
    position: relative;
    margin: var(--button-pad);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke: inherit;
    fill: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/* title */
.button__title {
    z-index: 350;
    display: block;
    position: relative;
    padding: 0 0 var(--button-pad) 0;
    font-size: var(--button-text-size);
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    color: inherit;
    -webkit-transition: opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    transition: opacity 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}
